Medibox with advanced features/Node-Red_flows.json
[{"id":"74048716c8278f61","type":"tab","label":"Medibox Dashboard","disabled":false,"info":"","env":[]},{"id":"6b4af75e3cc1edfd","type":"mqtt in","z":"74048716c8278f61","name":"","topic":"medibox/data","qos":"0","datatype":"auto","broker":"95822e599bdb2779","nl":false,"rap":false,"inputs":0,"x":150,"y":120,"wires":[["bd368183734c742c","f034984df926aa1f","99b82a58267d8d69","b892b7d12010c9bd"]]},{"id":"bd368183734c742c","type":"ui_chart","z":"74048716c8278f61","name":"Light Intensity History","group":"b7a430832fb53dde","order":4,"width":6,"height":5,"label":"Light Intensity (0-1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"50","removeOlderPoints":"","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":410,"y":120,"wires":[[]]},{"id":"62e4da2c76eb7e4a","type":"ui_slider","z":"74048716c8278f61","name":"Sampling Interval (ts)","label":"Sampling Interval (seconds)","tooltip":"","group":"b7a430832fb53dde","order":2,"width":6,"height":1,"passthru":true,"outs":"all","topic":"medibox/config/ts","topicType":"str","min":"1","max":"60","step":"1","className":"","x":150,"y":240,"wires":[["395ea23cb7e7f873","1c784e9c13fc9f0b"]]},{"id":"0265437531107e58","type":"ui_slider","z":"74048716c8278f61","name":"Sending Interval (tu)","label":"Sending Interval (minutes)","tooltip":"","group":"b7a430832fb53dde","order":1,"width":6,"height":1,"passthru":true,"outs":"all","topic":"medibox/config/tu","topicType":"str","min":"1","max":"10","step":"1","className":"","x":150,"y":300,"wires":[["395ea23cb7e7f873","5642b465b2a918fd"]]},{"id":"e714d9fb7d6d6d34","type":"ui_slider","z":"74048716c8278f61","name":"Min Angle (θ_offset)","label":"Minimum Servo Angle (degrees)","tooltip":"","group":"8f0b94fde5e98e74","order":1,"width":6,"height":1,"passthru":true,"outs":"all","topic":"medibox/config/theta_offset","topicType":"str","min":"0","max":"120","step":"1","className":"","x":150,"y":360,"wires":[["395ea23cb7e7f873"]]},{"id":"395ea23cb7e7f873","type":"function","z":"74048716c8278f61","name":"Create Config Message","func":"// Extract parameter name from topic (e.g., \"ts\", \"tu\", etc.)\nlet param = msg.topic.split('/').pop();\nlet value = msg.payload;\n\n// Store the latest slider value in flow context\nflow.set(param, value);\n\n// Get current values from flow context, applying defaults if not yet set\nlet ts = flow.get('ts') || 5;\nlet tu = flow.get('tu') || 2;  // in minutes\nlet theta_offset = flow.get('theta_offset') || 30;\nlet gamma = flow.get('gamma') || 0.75;\nlet T_med = flow.get('T_med') || 30;\n\n// Construct the full configuration object to send to ESP32\nmsg.payload = {\n    ts: ts,\n    tu: tu * 60,  // Convert minutes to seconds\n    theta_offset: theta_offset,\n    gamma: gamma,\n    T_med: T_med\n};\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":240,"wires":[["984e3269fb74147d"]]},{"id":"984e3269fb74147d","type":"mqtt out","z":"74048716c8278f61","name":"","topic":"medibox/config","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"95822e599bdb2779","x":640,"y":240,"wires":[]},{"id":"d8f3c796b05de1aa","type":"ui_slider","z":"74048716c8278f61","name":"Gamma (γ)","label":"Controlling Factor (γ)","tooltip":"","group":"8f0b94fde5e98e74","order":2,"width":6,"height":1,"passthru":true,"outs":"all","topic":"medibox/config/gamma","topicType":"str","min":"0","max":"1","step":"0.01","className":"","x":150,"y":420,"wires":[["395ea23cb7e7f873"]]},{"id":"e2a4b01a8a354802","type":"ui_slider","z":"74048716c8278f61","name":"Ideal Temp (T_med)","label":"Ideal Storage Temp (°C)","tooltip":"","group":"8f0b94fde5e98e74","order":3,"width":6,"height":1,"passthru":true,"outs":"all","topic":"medibox/config/T_med","topicType":"str","min":"10","max":"40","step":"0.5","className":"","x":150,"y":480,"wires":[["395ea23cb7e7f873","fa2bfe217d0515d6"]]},{"id":"f034984df926aa1f","type":"ui_text","z":"74048716c8278f61","group":"b7a430832fb53dde","order":3,"width":0,"height":0,"name":"","label":"Light Intensity(0-1 scale)","format":"{{payload.light}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":470,"y":160,"wires":[]},{"id":"1c784e9c13fc9f0b","type":"ui_text","z":"74048716c8278f61","group":"e8523bfd69939740","order":1,"width":0,"height":0,"name":"","label":"Sampling Interval (Seconds)","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":480,"y":300,"wires":[]},{"id":"5642b465b2a918fd","type":"ui_text","z":"74048716c8278f61","group":"e8523bfd69939740","order":2,"width":0,"height":0,"name":"","label":"Sending Interval (Minutes)","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":470,"y":360,"wires":[]},{"id":"fa2bfe217d0515d6","type":"ui_text","z":"74048716c8278f61","group":"e8523bfd69939740","order":3,"width":0,"height":0,"name":"","label":"Ideal Temperature(°C)","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":460,"y":480,"wires":[]},{"id":"99b82a58267d8d69","type":"ui_gauge","z":"74048716c8278f61","name":"Servo_Angle","group":"8542b1d52209c419","order":1,"width":0,"height":0,"gtype":"gage","title":"Servo Angle Display","label":"Degrees","format":"{{payload.servo_angle}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":430,"y":80,"wires":[]},{"id":"b892b7d12010c9bd","type":"ui_gauge","z":"74048716c8278f61","name":"Temperature","group":"8cfabc9ea65673ae","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature Display","label":"Celcius","format":"{{payload.temperature}}","min":"-40","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":430,"y":40,"wires":[]},{"id":"95822e599bdb2779","type":"mqtt-broker","name":"","broker":"https://test.mosquitto.org/","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"b7a430832fb53dde","type":"ui_group","name":"Light Monitoring","tab":"9c03b407c08d7ae1","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"8f0b94fde5e98e74","type":"ui_group","name":"Configuration","tab":"9c03b407c08d7ae1","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"e8523bfd69939740","type":"ui_group","name":"Current Values","tab":"9c03b407c08d7ae1","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"8542b1d52209c419","type":"ui_group","name":"Servo  Angle (Inside Medibox)","tab":"9c03b407c08d7ae1","order":4,"disp":true,"width":6,"collapse":false,"className":""},{"id":"8cfabc9ea65673ae","type":"ui_group","name":"Temperature (Inside Medibox)","tab":"9c03b407c08d7ae1","order":5,"disp":true,"width":6,"collapse":false,"className":""},{"id":"9c03b407c08d7ae1","type":"ui_tab","name":"MediBox_IOT","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
